/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}
body {
  display: flex;
  overflow-x: hidden;
  margin: unset;
  min-height: 100vh;
  width: 100vw;
}
